<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= simple_form_for @animal do |f| %>
        <%= f.input :name, placeholder: "Brutus"%>
        <%= f.input :category, collection: Animal::CATEGORIES, prompt: "Choose one"  %>
        <%= f.input :found_at, as: :string, placeholder: "16/08/2016", input_html: {id: "found-datepicker"} %>
        <%= f.submit "Go", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>


